{% extends 'base.html' %}
{% block content %}

<h1>Delete Post</h1>
<!-- no need to define enctype if only update words -->
<form class="" action="" method="post" enctype="">
  <!-- security check with Django -->
  {% csrf_token %}
  <!-- as_paragraph, form is an attribute from CreateView  -->
  <!-- {{ form.as_p }} -->
  <p>Are you sure to delete {{ object.title }}?</p>
  <!-- <p>Are you sure to delete {{ post.title }}</p> -->

  <!-- add a button  -->
  <button type="submit" name="Delete">Delete</button>

</form>
{% endblock content %}
