<div class="">
  <a href="{% url 'home' %}">Homepage</a>
</div>

<div class="">
  <ul>
    <!-- if not authenticated, show Login, else show logout and signup -->
    {% if request.user.is_authenticated %}
    <li> <a href="{% url 'login' %}">Logout</a> </li>

    {% else %}
    <li><a href="{% url 'login' %}"> Login</a> </li>
    <li><a href="{% url 'signup' %}">Sign up</a> </li>
    {% endif %}
  </ul>
</div>

<!-- block with name `content` defined in each *.html -->
{% block content %}
{% endblock content %}
