
<div class="">
  <ul>
    <!-- if not authenticated, show Login, else show logout and signup -->
    {% if request.user.is_authenticated %}
    <li> <a href="{% url 'logout' %}">Logout</a> </li>

    {% else %}
    <li><a href="{% url 'login' %}"> Login</a> </li>
    <li><a href="{% url 'home' %}">Sign up</a> </li>
    {% endif %}
  </ul>
</div>

<div>
  <!-- add a hyperlink to redirect to make_post url -->
  <a href="{% url 'make_post' %}">Add Post</a>
</div>

{% load static %}
<!-- Rendered by PostView in views.py -->
<div>
<!-- traverse all Post objects for loop of object_list
https://docs.djangoproject.com/en/2.2/ref/class-based-views/generic-display/
-->

<!-- \{%%\} allows for Django grammer -->
{% for post in object_list %}
<!-- two curly brackets allows python grammer in html -->
<!-- post object has two attributes: title and image (models.py) -->
<p>{{ post.title }}</p>
<!-- here post_detail is the name defined in urlpatterns in urls.py
     reverse url defined in urlpatterns
     post.pk: primary key of post 1, 2, 3, ... -->
<a href="{% url 'post_detail' post.pk %}">
<img src="{{ post.image.url }}" alt="images" width="900" height="500">
</a>
{% endfor %}
</div>
