{% load static %}
<!-- Rendered by PostView in views.py -->
<div>
<!-- traverse all Post objects for loop of object_list
https://docs.djangoproject.com/en/2.2/ref/class-based-views/generic-display/
-->

<!-- \{%%\} allows for Django grammer -->
{% for post in object_list %}
<!-- two curly brackets allows python grammer in html -->
<!-- post object has two attributes: title and image (models.py) -->
<p>{{ post.title }}</p>
<a href="{% url 'post' post.pk %}">
<img src="{{ post.image.url }}" alt="images">
</a>
{% endfor %}
</div>
